<div>
	<div ng-transclude></div>
	<div class="tour-wrapper">
			
		<div class="tour-skin">
			<div class="tour-arrow"></div>
			<div class="tour-content">
				<div class="tour-detail">
					<iframe src="{{attr.link}}" frameborder="0"></iframe>
					<a href="#close" class="close-tip">X</a>
				</div>
				<div class="tour-btn">
					<div class="prev">回退</div>
					<div class="next">前进{{abc}}</div>
				</div>
			</div>
		</div>
	</div>
	<style>
		.tour-wrapper{
		
			z-index: 10
			width: 300px;
			margin-top: 20px;
			position: absolute;
		}

		.close-tip{
			position: absolute;
			right: 10px;
			top: 30px;
			color: rgba(0,0,0,0.3) !important;
			font-family: Verdana, sans-serif;
			font-size: 10px;
			font-weight: bold;
			border-bottom: none !important;
			text-decoration: none;
		}

		.tour-arrow{
			height: 30px;
			width: 200px;
		
			border-bottom-color: rgb(230,230,230);
		}

		.tour-content{
			background:  rgb(230,230,230);
		}

	</style>
</div>